In [47]:
# Modelo com Sex e Age

In [48]:
import pandas as pd
import numpy as np

In [49]:
# Leitura das bases
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [50]:
# Olhando esses dados
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
# Random Forest é um conjunto de vários pequenos modelos chamados árvores de decisão
from sklearn.ensemble import RandomForestClassifier

In [52]:
# Estamos colocando pelo menos 100 dessas árvores
modelo = RandomForestClassifier(n_estimators=100,n_jobs=-1, random_state=0)

In [53]:
# Em tese, crianças terá uma proporção maior de sobrevivência
# Vamos fazer uma lista com sexo e idade
# Transformamos primeiramente sexo em binário
variaveis = ['Sex_binario', 'Age']

In [54]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [55]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [56]:
# Aqui fazemos a transformação de sexo em binário
# Pegamos a função que passamos entre parênteses e aplicamos linha a linha na coluna selecionada
train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [57]:
# Criando o modelo
x = train[variaveis] # x = variáveis de entrada para treinar o modelo
y = train['Survived'] # y é o que vamos prever

In [58]:
x.head()

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [59]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [60]:
# Se tivermos dados faltanddo, vamos preencher com -1
x = x.fillna(-1)

In [61]:
modelo.fit(x,y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [62]:
# Variáveis que vamos utilizar para fazer a previsão
x_prev = test [variaveis]
x_prev = x_prev.fillna(-1)
x_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

In [63]:
# Previsão
p = modelo.predict(x_prev)

In [64]:
# Criando uma estrutura de dados em que os valores serão as nossas previsões
sub = pd.Series(p, index=test['PassengerId'], name = 'Survived') # alinhando com a ordem do id
sub.shape

(418,)

In [46]:
sub.to_csv("primeiro_modelo.csv", header=True)