In [38]:
# Modelo com Validação

In [39]:
import pandas as pd
import numpy as np

In [40]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [41]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train['Sex_binario'] = train['Sex'].map(transformar_sexo)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

variaveis = ['Sex_binario', 'Age']

X = train[variaveis].fillna(-1)
y = train['Survived']

In [42]:
# Olhando esses dados
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [43]:
# Random Forest é um conjunto de vários pequenos modelos chamados árvores de decisão
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [46]:
#Criamos uma lista de 10 elementos 
X_falso = np.arange(10)
X_falso

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
# Assim gera uma sequência aleatória: train_test_split(x_falso, test_size=0.5)
# Para isso não ocorrer, colocamos uma semente
np.random.seed(0)
train_test_split(X_falso, test_size=0.5)

[array([6, 7, 3, 0, 5]), array([2, 8, 4, 9, 1])]

In [50]:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [51]:
X_treino.head()

     Sex_binario   Age
213            0  30.0
586            0  47.0
499            0  24.0
821            0  27.0
246            1  25.0

In [54]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [55]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(X_treino, y_treino)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [56]:
p = modelo.predict(X_valid)

In [58]:
# Calculando a acurácia dos dados de validação
np.mean(y_valid == p)

0.7690582959641256

In [61]:
p = (X_valid['Sex_binario']==1).astype(np.int64)
np.mean(y_valid == p)

0.7825112107623319